<%- include ("header") -%> 

<h1>about</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae modi quia neque, quam vitae, magni 
    eius adipisci debitis architecto itaque consequuntur, qui error deserunt earum totam iusto nisi quas numquam.</p>

<%- include ("footer") -%> 